<div>
    {{ 'block:' | trans }} {{ wallet.block }}
    /
    {{ 'balance:' | trans }} {{ wallet.balance }}
    {% if boost.address %}
        /
        {{ 'charge:' | trans }}
        {% if explorer.url %}
            <a href="{{ explorer.url }}{{ boost.address }}" target="_blank">{{ boost.address }}</a>
        {% else %}
            {{ boost.address }}
        {% endif %}
    {% endif %}
    {% if mine.pool %}
        /
        {{ 'mine:' | trans }}
        {% if mine.pool.url %}
            <a href="{{ mine.pool.url }}" target="_blank">{{ 'pool' | trans }}</a>
        {% endif %}
        {% if mine.solo.url %}
            |
            <a href="{{ mine.solo.url }}" target="_blank">{{ 'solo' | trans }}</a>
        {% endif %}
    {% endif %}
</div>