<div>
    {{ 'block:' | trans }} {{ wallet.block }}
    /
    {{ 'balance:' | trans }} {{ wallet.balance }}
    {% if wallet.address %}
        /
        {% if pool.url %}
            <a href="{{ pool.url }}" target="_blank">{{ 'charge' | trans }}</a>:
        {% else %}
            {{ 'charge:' | trans }}
        {% endif %}
        <pre>{{ wallet.address }}</pre>
    {% endif %}
</div>