{% if enabled %}
    <form name="post" action="{{ path('room_post', { namespace : namespace }) }}" method="post">
        {% if error %}
            <output name="error" for="form-post-message">{{ error }}</output>
        {% endif %}
        <textarea name="message" id="form-post-message" placeholder="{{ 'enter your message...' | trans }}">{{ message }}</textarea>
        {% if sign == 'anon' or sign != 'ip' %}
            <input type="radio" name="sign" value="anon" id="form-post-sign-anon" checked="checked" />
        {% else %}
            <input type="radio" name="sign" value="anon" id="form-post-sign-anon" />
        {% endif %}
        <label for="form-post-sign-anon">
            {{ 'anon' | trans }}
        </label>
        {% if sign == 'ip' %}
            <input type="radio" name="sign" value="ip" id="form-post-sign-ip" checked="checked" />
        {% else %}
            <input type="radio" name="sign" value="ip" id="form-post-sign-ip" />
        {% endif %}
        <label for="form-post-sign-ip">
            @{{ ip }}
        </label>
        <button type="submit">{{ 'send' | trans }}</button>
    </form>
{% endif %}