{% if enabled %}
    <form name="post" action="{{ path('room_post', { namespace : namespace }) }}" method="post">
        {% if error %}
            <output name="error" for="form-post-message">{{ error }}</output>
        {% endif %}
        <textarea name="message" id="form-post-message" placeholder="{{ 'enter your message...' | trans }}">{{ message }}</textarea>
        {% if user == 'guest' or user != 'ip' %}
            <input type="radio" name="user" value="guest" id="form-post-user-guest" checked="checked" />
        {% else %}
            <input type="radio" name="user" value="guest" id="form-post-user-guest" />
        {% endif %}
        <label for="form-post-user-guest">
            {{ 'guest' | trans }}
        </label>
        {% if user == 'ip' %}
            <input type="radio" name="user" value="ip" id="form-post-user-ip" checked="checked" />
        {% else %}
            <input type="radio" name="user" value="ip" id="form-post-user-ip" />
        {% endif %}
        <label for="form-post-user-ip">
            @{{ ip }}
        </label>
        <button type="submit">{{ 'send' | trans }}</button>
    </form>
{% endif %}