{% extends 'default/layout.html.twig' %}
{% block head_title_content %}{{ 'Users' | trans }} - {{ app.name }}{% endblock %}
{% block main_content %}
    {% if list | length %}
    <ul>
        {% for user in list %}
            <li>
                <div>
                    <strong>
                        @{{ user.name }}
                    </strong>
                    <span style="float:right">{# @TODO #}
                        {{ 'balance' | trans }}: {{ user.name | account_balance | format_kva }}
                    </span>
                    <p>
                        {{ 'boost' | trans }}: {{ user.name | account_address }}
                    </p>
                    {% if user.rooms | length %}
                        <p>
                            {{ 'rooms' | trans }}:
                            {% for namespace, total in user.rooms %}
                                <a href="{{
                                    path('room_namespace',
                                    {
                                        mode : request.get('mode'),
                                        namespace : namespace, _fragment : 'latest'
                                    }) }}">{{ namespace | keva_namespace_value }}</a>
                                {{ total }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>
                <div>
                    {{ 'users not found or database locked by new transaction' | trans }}
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block footer_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::user',
                {
                    request: request
                }
            )
        )
    }}
{% endblock %}