<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <atom:link href="{{ url('room_namespace', { namespace : request.get('namespace'), _fragment : 'latest' }) }}" rel="self" type="application/rss+xml"></atom:link>
        <title>{{ request.get('namespace') | keva_namespace_value }} - {{ app.name }}</title>
        <link>{{ url('room_namespace', { namespace : request.get('namespace'), _fragment : 'latest' }) }}</link>
        {% for post in feed %}
            <item>
                <title>{{ post.txid }}</title>
                <author>{{ post.user }}</author>
                <pubDate>{{ post.time | date('D, d M Y h:i:s O') }}</pubDate>
                <guid>{{ url('room_namespace', { namespace : request.get('namespace'), _fragment : post.txid }) }}</guid>
                <link>{{ url('room_namespace', { namespace : request.get('namespace'), _fragment : post.txid }) }}</link>
                <description>{{ post.message | striptags | markdown_to_html | striptags | trim }}</description>
            </item>
        {% endfor %}
    </channel>
</rss>