{% extends 'default/layout.html.twig' %}
{% block head_title_content %}{{ name }} - {{ 'KevaChat' | trans }}{% endblock %}
{% block main_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::room',
                {
                    request: request
                }
            )
        )
    }}
    {% if feed %}
        <ul>
            {% for post in feed %}
                <li>
                    <a name="{{ post.txid }}"></a>
                    {% if post.icon %}
                        <img src="{{ post.icon }}" alt="icon" />
                    {% else %}
                        <strong>
                            @{{ 'anonymous' | trans }}
                        </strong>
                    {% endif %}
                    &bull;
                    <a href="{{ path('room_namespace', { namespace : request.get('namespace') }) }}#{{ post.txid }}" title="{{ 'time:' | trans }} {{ post.transaction.time }} / {{ 'confirmations:' | trans }} {{ post.transaction.confirmations }}">{{ post.transaction.timestamp | format_ago }}</a>
                    &bull;
                    <a href="{{ path('room_namespace', { namespace : request.get('namespace'), txid : post.txid }) }}#{{ post.txid }}">{{ 'quote' | trans }}</a>
                    <p>
                        {{ post.value }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block footer_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::post',
                {
                    request: request
                }
            )
        )
    }}
{% endblock %}