{% extends 'default/layout.html.twig' %}
{% block main_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::room',
                {
                    request: request
                }
            )
        )
    }}
    {% if feed %}
        <ul>
            {% for post in feed %}
                <li>
                    <a name="{{ post.txid }}"></a>
                    <strong>
                        @{{ post.key }}
                    </strong>
                    <a href="#{{ post.txid }}" title="{{ 'time:' | trans }} {{ post.transaction.time }} / {{ 'block:' | trans }} {{ post.height }}{# / {{ 'confirmations:' | trans }} {{ post.transaction.confirmations }}#}">
                        {{ post.transaction.timestamp | format_ago }}
                    </a>
                    <p>
                        {{ post.value }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block footer_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::post',
                {
                    request: request
                }
            )
        )
    }}
{% endblock %}