{% extends 'default/layout.html.twig' %}
{% block head_title_content %}{{ request.get('namespace') | keva_namespace_value }} - {{ 'KevaChat' | trans }}{% endblock %}
{% block main_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::room',
                {
                    request: request
                }
            )
        )
    }}
    {% if feed %}
        <ul>
            {% for post in feed %}
                <li>
                    <a name="{{ post.id }}"></a>
                    {% if post.icon %}
                        <img src="{{ post.icon }}" alt="icon" />
                    {% else %}
                        <strong>
                            @{{ 'anon' | trans }}
                        </strong>
                    {% endif %}
                    &bull;
                    <a href="{{ path('room_namespace', { namespace : request.get('namespace') }) }}#{{ post.id }}" title="{{ post.time }}">{{ post.timestamp | format_ago }}</a>
                    &bull;
                    <a href="{{ path('room_namespace', { namespace : request.get('namespace'), txid : post.id }) }}#{{ post.id }}">{{ 'reply' | trans }}</a>
                    {% if post.pending %}
                        <span title="{{ 'pending in pool' | trans }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
                            </svg>
                        </span>
                    {% endif %}
                    <p>
                        {{ post.message }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>
                {{ 'room does not contain kevachat messages' | trans }}
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block footer_content %}
    {{
        render(
            controller(
                'App\\Controller\\ModuleController::post',
                {
                    request: request
                }
            )
        )
    }}
{% endblock %}