<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <atom:link href="{{ url('room_list') }}" rel="self" type="application/rss+xml"></atom:link>
        <title>{{ 'Rooms' | trans }} - {{ app.name }}</title>
        <link>{{ url('room_list') }}</link>
        {% for room in list %}
            <item>
                <title>{{ room.namespace | keva_namespace_value }}</title>
                <guid>{{ url('room_namespace', { namespace : room.namespace }) }}</guid>
                <link>{{ url('room_namespace', { namespace : room.namespace }) }}</link>
                <description>{{ 'join' | trans }} {{ room.namespace | keva_namespace_value }} {{ 'room' | trans }}!</description>
            </item>
        {% endfor %}
    </channel>
</rss>